body{
  background-color: lightgray;
}

.Data__card{
  // -webkit-text-stroke: 1px black;
  font-size: 24px;

  margin: 10px;
  padding: 20px;
  box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.14);

  border-radius: 5px;

}

.day_weather{
  flex-shrink: 0;
  margin-inline: 15px;
  margin-block: 10px;
  height: 200px;
  width: 160px;
  box-shadow: 1px 1px 7px 5px rgba(0,0,0,0.14);
  text-align: center;

  &__time{
    text-align: left;
    position: relative;
    left: 15px;
  }

  &__temp{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 32px;
  }

  &__time, &__feels{
    font-size: 16px;
  }
}